.mainClass{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  height: 100vh;
  overflow: scroll;
  font-family: sans-serif;
  
} 
  .mainBox{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 30%;
  }
    .divh1{
      display: flex;
      justify-content: center;
    }
    .divh1 h1{
      font-size: 5vw;
    }


    .inputBox{
      display: flex;
      flex-direction: column;
      flex: 1;
    };
      .enterBox{  
        height: 10vh;
        width: 20%;
      }
      .dateAndSubmit{
        display: flex;
        flex-direction: row;
        
      }
        .datePicker{
          display: flex;
          flex:0.7;
          width: 35%;
        }
        .addButton{
          display: flex;
          flex:0.3;
          width: 10%;
          border: 1px solid;
        }

        ::placeholder{
          font-size: 100%;
        }


    .contentCards{
      min-height:50vh;
      max-height: 50vh;
      overflow-y: scroll;
    }
      .card{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 6%;
        
      }
      .card:hover{ 
      }
        .task{
          margin-left: 5%;
        }
        .delButton{
          border: 0px;
          background-color: white;
        }
           
    .cardButton{
      display: flex;
      justify-content: space-evenly;
      background-color: white;
      margin-top: 0.5%;
      border-radius: 5px;
      flex-wrap: wrap;
    }
      .switchButton{
        border: 0px;
        background-color: white;
      }
      .activeButton{
        border: 5px;
      }
      .cardButton .textClass{
        font-size:100%;
      }

    .reactModal{
      top:50%;
      left:50%;
      right:auto;
      bottom:auto;
      margin-right:-50%;
      transform: translate(-50%, -50%);
    }
      .delButton{
        background-color: red;
      }
    /* .overlayModal{
      
    } */

@media screen and (max-width:610px) {
  ::placeholder{
    font-size: 50%;
  }
  .mainBox{
    margin-top: 5%;
    width: 70%;
  }
  .overlayModal{
    
  }
  .delButton{
    width: 50%;
  }
  .buttonText{
    font-size: 80%;
  }

}
@media screen and (max-width:769px) {
  .mainBox{
    margin-top: 5%;
    width: 70%;
  }
}