.mainClass{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  height: 100vh;
  overflow: scroll;
  font-family: sans-serif;
} 
  .mainBox{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 30%;
  }
    .divh1{
      display: flex;
      justify-content: center;
    }
    .divh1 h1{
      font-size: 5vw;
    }
    .enterBox{
      width: 100%;
      height: 10vh;
    }
    .contentCards{

    }
      .card{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 6%;
        
      }
        .task{
          margin-left: 5%;
        }
    .cardButton{
      display: flex;
      justify-content: space-evenly;
      background-color: white;
      margin-top: 0.5%;
      border-radius: 5px;
      
    }
      .switchButton{
        border: 0px;
        background-color: white;
      }
      .activeButton{
        border: 5px;
      }