.mainClass{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  height: 100vh;
  overflow: scroll;
  font-family: sans-serif;
  
} 
  .mainBox{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 30%;
  }
    .divh1{
      display: flex;
      justify-content: center;
    }
    .divh1 h1{
      font-size: 5vw;
    }


    .inputBox{
      display: flex;
      flex-direction: column;
      flex: 1;
    };
      .enterBox{  
        height: 10vh;
        width: 30%;
      }
      .dateAndSubmit{
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
        .datePicker{
          display: flex;
          flex:0.9;
          
        }
        .addButton{
          display: flex;
          flex:0.1;
          width: 10%;
          border: 1px solid;
          
        }
        .fontIcon{
          visibility: hidden;
        }

        ::placeholder{
          font-size: 100%;
        }


    .contentCards{
      min-height:50vh;
      max-height: 50vh;
      overflow-y: scroll;
    }
      .card{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 6%;
        
      }
        .dateAndTimeText{
          font-weight: bold;
          font-size: 80%;
          width: 30%;
        }
      .card:hover{ 
      }
        .task{
          margin-left: 5%;
          font-size: 50%;
          overflow-wrap: break-word;
          width: 33%;
        }
        .delButton{
          border: 0px;
          background-color: white;
        }
        
           
    .cardButton{
      display: flex;
      justify-content: space-evenly;
      background-color: white;
      margin-top: 0.5%;
      border-radius: 5px;
      flex-wrap: wrap;
    }
      .switchButton{
        border: 0px;
        background-color: white;
      }
      .activeButton{
        border: 5px;
      }
      .cardButton .textClass{
        font-size:100%;
      }

    .reactModal{
      top:50%;
      left:50%;
      right:auto;
      bottom:auto;
      margin-right:-50%;
      transform: translate(-50%, -50%);
    }
      .delButton{
        background-color: red;
      }
    /* .overlayModal{
      
    } */

@media screen and (max-width:610px) {
  ::placeholder{
    font-size: 50%;
  }
  .mainBox{
    margin-top: 5%;
    width: 70%;
  }
  .overlayModal{
    
  }
  .delButton{
    width: 50%;
  }
  .buttonText{
    font-size: 80%;
  }
  .dateAndTimeText{
    font-weight: bold;
    font-size: 40%;
    width: 50%;
    margin-left: 5%;
    padding: 0%;
  }
  .dateAndSubmit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
    

}
@media screen and (max-width:769px) {
  .mainBox{
    margin-top: 5%;
    width: 70%;
  }
}

@media screen and (max-width:350px){
  .dateAndSubmit{
    display: flex;
    flex-direction: column;
    flex:0.5;
  }
  .datePicker{
    
  }
  .addButton{
    max-width: 100%; 
    min-width:100%;
    background-color: #24a0ed;
  }
    .addButtonText{
        align-content: center;
        padding-left: 40%;
    }
}
/* @media screen and (max-width:310px) {
  
  .dateAndSubmit{
    display: flex;
    flex-direction: column;
  }
  .addButton{
    min-width: 100%;
  }
    .addButtonText{
      visibility: visible;  
      font-size: 100%;
      padding-top:50%;
    }
} */